

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{

    --link-color: #4A70A9;
    --hovered-link-color: #8FABD4;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, monospace;
}


nav > ul{
    list-style-type: none;
    display: flex;
    gap: clamp(10px, 3vmin, 40px);
}

a{
    display: inline-block;
    text-decoration: none;
    color: var(--link-color);
    transition: all .2s ease;
}

a:hover{
    /* transform: scale(1.05); */
    /* transform-origin: center center; */
    color: var(--hovered-link-color);
    text-shadow: 0px 0px 5px var(--link-color);
}

p{
    margin-bottom: 10px;
    /* text-indent: 10px; */
}