:root {
  --fg: rgb(16, 17, 19);
  --bg: #efece3;
  --color-transition-speed: 0.5s;
}

body.dark-mode {
  --fg: #efece3;
  --bg: rgb(16, 17, 19);
  transition: color var(--color-transition-speed) ease,
    background-color var(--color-transition-speed) ease;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.title-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
}

#header-title {
  font-size: clamp(20px, 3em, 3em);
  margin: 0;
}
nav {
  font-size: clamp(16px, 1.2em, 2em);
  display: block;
  gap: 10px;
  margin: 0 auto;
  width: fit-content;
}

.line {
  background-color: var(--fg);
  width: 100%;
  height: 5px;
  margin: 10px auto;
  border-radius: 10px;
}

.container {
  /* min-width: fit-content; */
  height: fit-content;
  width: 70%;
  margin: 10px auto;
  padding: 10px 20px;
  border: 5px solid var(--fg);
  border-radius: 10px;
  transition: width 0.4s ease;
}

body {
  /* border: 5px solid black; */
  /* width: 400px; */
  background-color: var(--bg);
  color: var(--fg);
  font-size: 20px;
  font-size: clamp(16px, 2.5vmin, 25px);
  transition: color var(--color-transition-speed) ease,
    background-color var(--color-transition-speed) ease;
}

#switch-theme {
  background-color: transparent;
  clip-path: circle(41%);
  box-shadow: none;
  border: none;
  /* display: inline-block; */
}

#switch-theme:hover {
  cursor: pointer;
}

#switch-theme-icon {
  width: 60px;
  filter: grayscale(100%);
}

@media (max-width: 700px) {
  body {
    /* font-size: 16px; */
  }
  .container {
    width: 100%;
    border: none;
  }
}
