:root {
  --fg: rgb(16, 17, 19);
  --bg: #ffffff;
  --color-transition-speed: 0s; /*Set to .4s in js*/
}

body.dark-mode {
  --fg: #efece3;
  --bg: rgb(16, 17, 19);
  transition: color var(--color-transition-speed) ease,
    background-color var(--color-transition-speed) ease;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#header-title {
  font-size: clamp(20px, 3em, 3em);
  margin: 0;
}
nav {
  font-size: clamp(16px, 1.2em, 2em);
  display: block;
  gap: 10px;
  margin: 0 auto;
  width: fit-content;
}

.line {
  background-color: var(--fg);
  width: 100%;
  height: 5px;
  margin: 10px auto;
  border-radius: 10px;
}

.container {
  /* min-width: fit-content; */
  height: fit-content;
  width: 70%;
  margin: 10px auto;
  padding: 10px 20px;
  border: 5px solid var(--fg);
  border-radius: 10px;
  transition: width 0.4s ease;
}

body {
  /* border: 5px solid black; */
  /* width: 400px; */
  background-color: var(--bg);
  color: var(--fg);
  font-size: clamp(18px, 1.8vw, 22px);
  font-weight: 400;
  transition: color var(--color-transition-speed) ease,
    background-color var(--color-transition-speed) ease;
}
.title-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
  position: relative;
}

#switch-theme {
  background-color: transparent;
  box-shadow: none;
  border: none;
  pointer-events: none;
  height: fit-content;
  position: absolute;
  right: 0px;
}

#switch-theme:hover {
  cursor: pointer;
}

#switch-theme-icon {
  width: clamp(40px, 3vw, 60px);

  filter: grayscale(100%);
  pointer-events: auto;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    border: none;
  }

  .title-container {
    justify-content: start;
  }

  nav {
    margin: 0;
    font-size: clamp(16px, 3.5vw, 25px);
  }

  #switch-theme {
    clip-path: none;
  }

  #switch-theme-icon {
    width: 40px;
  }

  #header-title {
    font-size: clamp(40px, 7.5vw, 60px);
  }
}
