*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", "Arial", monospace;
  
}



h1, h2, p, ul, ol{
    margin-bottom: 10px;
}

ul, ol {
    padding-left: 20px;
}
body{
    padding-left: 20px;
}



/* HEADER STYLES */
#cv-title{
    font-size: 3em;
    text-align: center;
    margin: 0;
}

.socials-nav{
    padding: 0;
    min-width: 100%;

}
.socials-nav > ul{
    /* display: flex; */
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;


}

.socials-nav  li{
    display: inline;
}

.socials-nav li:not(:last-child)::after{
    content: " | ";
    font-weight: bolder;
    font-size: 1.1em;


}


