*,
*::before,
*::after {
  /* padding: 0; */
  /* margin: 0; */
  font-family: "Times New Roman", "Arial", monospace;
}


h1 {
    border-bottom: 3px black solid;
}



/* HEADER STYLES */
#cv-title{
    font-size: 3em;
    text-align: center;
}

.socials-nav{
    padding: 0;

}
.socials-nav > ul{
    /* display: flex; */
    list-style-type: none;
    margin: 0 auto;

}

.socials-nav  li{
    display: inline;
}

.socials-nav li:not(:last-child)::after{
    content: " | ";
    font-weight: bold;
    font-size: 1.1em;


}
