@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --link-color: #444;
  --hovered-link-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

body.dark-mode {
  --link-color: #aaa;
  --hovered-link-color: #fff;
  --shadow-color: rgba(255, 255, 255, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, monospace;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.2s ease;
}
a:hover {
  transform: scale(1.025);
  transform-origin: bottom center;
  color: var(--hovered-link-color);
  text-shadow: 0px 1px 2px var(--shadow-color);
  text-decoration: underline;
}
p {
  margin-bottom: 10px;
  /* text-indent: 10px; */
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: clamp(10px, 3vmin, 40px);
}
